html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #e6ccccd8;
    min-height: 100vh; /* Faz a seção ocupar 100% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding: 20px;
}

.form-label{
    font-weight: bold;
}